.header {
  height: 40px;
  width: 100%;
  background-color: #1b1b1b;
}

.form {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 5px;
  height: 30px;
}

.button {
  background-color: #ffa31a;
  border-radius: 12px;
  border: 1px white solid;
  color: white;
}

.button:hover {
  background-color: #808080;
}

.input {
  width: 200px;
  border-radius: 12px;
  border: 1px white solid;
  font-size: 16px;
  text-align: center;
}
