.div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.button {
  background-color: #ffa31a;
  border-radius: 12px;
  border: 1px white solid;
  color: white;
  height: 25px;
}

.button:hover {
  background-color: #808080;
}
